/*.circle {
  background: get-color(primary, 1);
  border-radius: 50%;
  min-width: 15px;
  width: 15px;
  margin: 0 5px 0 10px;
  display: unset;
}*/

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    background-color: get-color(light, 2);
}

.msger-header {
    /* display: flex; */
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    text-align: left;
    background: get-color(light, 4);
    border-radius: 5px 5px 0 0;
    h5 {
        background: -webkit-linear-gradient(left, #0D6ED6, #CD95FB);
        max-width: 150px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: unset;
    }
}

.msger-chat {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    margin: 30px 10px 10px 10px;
    max-height: 80vh;
    overflow: scroll;
}

.msg {
    display: flex;
    margin-bottom: 10px;
}

.msg-table {
    max-height: 200px;
    overflow: scroll;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.msg-bubble {
    max-width: 500px;
    padding: 0 0 0 10px;
    border-left: 3px solid get-color(primary, 1);
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.msg-info-time {
    font-size: 0.85em;
}

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    color: get-color(light, 1);
    background: get-color(primary, 1);
    border-radius: 3px;
    border: unset;
    padding: 10px;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    background: get-color(light, 2);
}
.msger-inputarea * {
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.msger-input {
    padding: 10px;
    flex: 1;
    color: get-color(dark, 1);
}
.msger-send-btn {
    margin-left: 10px;
    background: get-color(light, 2);
    cursor: pointer;
    color: get-color(primary, 1);
}

.msger-send-btn:disabled {
    color: get-color(dark, 1);
    cursor: not-allowed;
}