[class*=illustration-] {
	position: relative;

	&::after {
		pointer-events: none;
	}
}

[class*=illustration-element-]::after {
	z-index: -1;
}

[class*=illustration-section-]::after {
	z-index: -2;
}

// Hero illustration
.illustration-section-01::after {
	@include illustration('illustration-section-01.svg', 100%, 286px, top);
}

// Features illustration 02
.illustration-section-02::after {
	@include illustration('illustration-section-02.svg', 100%, 253px, null, null, 30px);
}

.gradient-background-01 {
	background: linear-gradient(109.01deg, #0D6ED6 6.07%, #CD95FB 61.56%, #FCA67E 80.65%);
}

.light-2-background {
	background: get-color(light, 2);
}